
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
  border-bottom: 2px solid transparent;
}
.header-logo{
  vertical-align: middle;
  max-height: 56px;
}
.ant-menu-item, .ant-menu-submenu-title{
  padding: 0 40px;
  font-size: 14px;
}
.header-right{
  position: absolute;
  top: 0;
  right: 50px;
}
.content-wrap{
  background-color: #f0f5fa;
  padding-bottom: 60px;
}

footer{
  height: 80px;
  line-height: 80px;
  font-size: 12px;
  color: #ccc;
  background-color: #2e3640;
  text-align: center;
  span{
    padding: 0 10px;
  }
}
