@import "../../../css/styles.scss";


.detail-top{
  background-color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  .detail-img{
    width: 500px;
    height: 260px;
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .detail-top-right{
    width: 600px;
    height: 260px;
    position: relative;
    &>div{
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;
    }
    &>div:first-of-type{
      display: flex;
      justify-content: flex-start;
      margin-top: 30px;
    }
    .detail-top-bt{
      position: absolute;
      bottom: 0px;
    }
    h2{
      font-size: 24px;
      color: $Gray1;
      padding: 0;
      margin: 0;
    }
    .detail-top-style1{
      h5{
        width: 60px;
      }
      p{
        width: 540px;
        span{
          margin-right: 8px;
          display: inline-block;
          color: $SpColor;
        }
      }
    }
    .detail-top-style2{
      h5{
        width: 60px;
        line-height: 24px;
      }
      p{
        width: 540px;
        span{
          margin-right: 8px;
          display: inline-block;
          padding: 2px 10px;
          border: 1px  solid #ccc;
        }
      }
    }
    .icon-text-block{
      line-height: 23px;
      margin-right: 10px;
      i{
        font-size: 16px;
        line-height: 23px;
        color:$MainColor;
      }
    }
    .ant-btn{
      padding: 0px 60px;
      height: 40px;
      font-size: 16px;
    }
  }
  .icon-text-block-handle{
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    line-height: 23px;
    display: flex;
    justify-content: flex-start;
    span{
      font-size: 12px;
    }
    i{
      font-size: 16px;
      line-height: 23px;
      margin-right: 4px;
    }
  }
}


.detail-bottom{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
  .detail-bottom-left{
    background-color: #fff;
    padding: 30px;
    width: 850px;
    .ant-tabs-mini .ant-tabs-tab{
      font-size: 14px;
    }
    .ant-tabs-bar{
      border-color: #eee;
    }
  }
  .detail-bottom-right{
    width: 320px;
    .detail-bottom-right-box{
      padding: 30px;
      background-color: #fff;
      margin-bottom: 20px;

      h3{
        font-size: 16px;
        color: $Gray1;
        font-weight: normal;
        border-bottom: 1px solid #eee;
        padding-bottom: 8px;
        i{
          font-size: 20px;
          height: 24px;
          vertical-align: middle;
          color: $MainColor;
          margin-right: 4px;
        }
      }
      .detail-bottom-right-intro{
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        .detail-bottom-right-intro-thum{
          width: 64px;
          height: 64px;
          overflow: hidden;
          border-radius: 32px;
          margin-right: 20px;
          img{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .detail-bottom-right-intro-text{
          h5{
            color: $Gray2;
            font-size: 14px;
            padding-top: 6px;

          }
          p{
            color: $Gray3;
            font-size: 12px;
            margin-top: 8px;
          }
        }
      }
      .detail-bottom-right-intro2{
        h5{
          font-size: 14px;
          color: $Gray2;
          padding: 8px 0;
        }
        .detail-bottom-right-intro-thum{
          width: 260px;
          height: 160px;

          img{
            display: block;
            width: 100%;
            height: 100%;
          }
        }

      }
    }
  }
}
