$MainColor : #3b76ec;
$SpColor : #f60;

$Gray1 : #333;
$Gray2 : #666;
$Gray3 : #999;
$Gray4 : #ccc;


@mixin MainHover {
   transition: .3s;
   &:hover{
     color: #3b76ec;
   }
 }

.back-white{
  background-color: #fff;
}
.content-1200{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.icon-text-block{
  display: flex;
  justify-content: flex-start;
  i{
    font-size: 12px;
    line-height: 18px;
    margin-right: 4px;
  }
  span{
    font-size: 12px;
    color: $Gray3;
  }
}
.flex-block{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
