$MainColor : #3b76ec;

$Gray1 : #333;
$Gray2 : #666;
$Gray3 : #999;
$Gray4 : #ccc;

.back-white{
  background-color: #fff;
}
.content-1200{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
