@import '../../../css/styles.scss';

.intro-wrap{
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.intro-wrap-single{
  padding: 60px;
}
.intro-left{
  flex: 1;
}
.intro-contet{
  padding: 30px;
  flex: 4;
  img{
    max-width: 100%;
  }
  &>h2{
    color: $Gray1;
    font-size: 24px;
    text-align: center;
  }
  &>h5{
    color: $Gray4;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
  }
  .intro-contet-1{
    padding-top: 30px;
  }
}
